@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1642151549656') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-laohu:before {
  content: "\e6ac";
}

.icon-yigouxuan:before {
  content: "\e63d";
}

.icon-weigouxuan:before {
  content: "\e63e";
}

.icon-Artboard:before {
  content: "\edc9";
}

.icon-hongbao:before {
  content: "\e51f";
}

.icon-laohu1:before {
  content: "\e617";
}

.icon-hongbao1:before {
  content: "\e6d9";
}

.icon-bingtanghulu:before {
  content: "\e602";
}

.icon-hongdenglong:before {
  content: "\e604";
}

.icon-hongbao2:before {
  content: "\e60c";
}

.icon-tanghulu-xiankuang:before {
  content: "\e622";
}

.icon-dongwutubiao-shangse-laohu:before {
  content: "\e601";
}

.icon-tanghulu:before {
  content: "\e618";
}

.icon-facaidenglong:before {
  content: "\e7ae";
}

.icon--laohu:before {
  content: "\e616";
}

.icon-tanghulu1:before {
  content: "\e60d";
}

.icon-dahongdenglong:before {
  content: "\e603";
}

.icon-denglong:before {
  content: "\e605";
}

.icon-hongbao3:before {
  content: "\e606";
}

.icon-bingtanghulu1:before {
  content: "\e607";
}

.icon-hu:before {
  content: "\e608";
}

.icon-bingtanghulu2:before {
  content: "\e6bb";
}

.icon-hu1:before {
  content: "\f3f5";
}

.icon-laohu2:before {
  content: "\e62f";
}

.icon-laohu3:before {
  content: "\e620";
}

.icon-denglong1:before {
  content: "\e635";
}

